.button{
	cursor: pointer;
	border: 0;
	outline: none;
	padding: 13px;
	border-radius: 26px;
	background-color: #FFFFFF;
}

.hidden{
	display: none !important;
}
li.selected{
	transition: .3s;
	width:110%;
	background-color: red;
}

	