
.wallet{
	display: inline-block;
	width: 49.75%;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 10px;
	border-radius: 20px;
}
.wallet__display:first-child{
	margin-bottom: 20px;
}
.wallet__button, .qr__button{
	float: right;
	background-image: linear-gradient(to bottom, #4c61f2 0%, #7192fb 100%);
	box-shadow: 1px 5px 9px -2px black;
	min-width: 70px;
	color: #fff;
	font-weight: 700;
}
.deposit-buttons__item{
	display: inline-block;
}

.deposit-panel__button{
	box-shadow: rgba(0, 0, 0, 0.75) 0px -6px 10px -4px inset, 0px 2px 5px;
	border-radius:0;
	transition: .2s;
	background-color: #fff;
	font: 400 21px 'Stolzl Book';
	color: #1f3262;
	margin-top: 7px;
}
.deposit-panel__button:active{
	box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 8px -6px inset, 0px 2px 5px;
    transition: .2s;
}

.wallet__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.overflow-container-deposit{
	overflow: hidden;
	width: 89%;
	position: relative;
	margin: 0 auto;
}
.overflow-wraper-deposit{
	width: 201%;
	transition: .4s;
	transform: translateX(0%);
	display: flex;
	justify-content: center;
}
.deposit-panel{
	font-family: 'Stolzl','sans-serif';
	margin-bottom: 20px;
}
.deposit-panel__title{
	display: block;
	padding: 11px 0 0 11px;
}
.exchange-item{
	position: relative;
	font-size: 24px;
	color: #1f3262;
	padding-left: 45px;
}
.exchange-item::before{
	content: '';
	border-radius: 50%;
	display: inline-block;
	width: 38px;
	position: absolute;
	left: -2px;
	top: 0px;
	height: 38px;
	background-image: url('../../../common/images/icons/bitcoin-icon.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.exchange-item::after{
	content: 'Coin';
	display: inline-block;
	position: absolute;
	top: 22px;
	left: 45px;
	font-size: 18px;
	opacity: 0.3;
}
.exchange-value{
    font-size: 21px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 18px;
}
.address-display{
	    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slide-buttons{
	margin: 0 auto;
	width: max-content;
}

.deposit-item{
	transition: .4s ease-in-out;
	margin: 24px auto 0px;
	text-align: center;
	font-family: 'Stolzl Book';
	font-size:;
	padding: 10px;
	position: relative;
	max-width: 670px;
	background-color: #fff;
	box-shadow: 0px 56px 27px -42px #000000, inset 0px 0px 50px -50px  #000000;
	border-radius: 50px;
	box-sizing: border-box;
	border: 0.04rem solid rgba(1,1,1,0.1);
}
.deposit-item:hover{
	box-shadow: 0px 56px 27px -42px #000000, inset 0px 0px 18px -12px #000000;
}
.withdraw.deposit-item{
	border: 0;
	display: flex;
	flex-flow: wrap row;
	justify-content: space-around;
	background: -moz-linear-gradient(top,  rgba(30,87,153,0.29) 0%, rgba(158,129,196,0.33) 27%, rgba(82,147,201,0.4) 77%, rgba(123,183,231,0.43) 99%, rgba(125,185,232,0.43) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,0.29) 0%,rgba(158,129,196,0.33) 27%,rgba(82,147,201,0.4) 77%,rgba(123,183,231,0.43) 99%,rgba(125,185,232,0.43) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top,  rgb(26, 39, 72) 8%,rgba(158, 129, 196, 0.77) 29%,rgba(82, 147, 201, 0.79) 12%,rgba(208, 123, 231, 0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a1e5799', endColorstr='#6e7db9e8',GradientType=0 ); /* IE6-9 */
}
.withdraw__address{
	width: 100%;
	margin-bottom: 7px;
}
.withdraw__balance{
	text-align: left;
}
.balance__item{
	display: inline-block;
	padding-left: 40px;
	font-size: 1.5rem;
	position: relative;
	font-family: "Stolzl";
	margin-top: 13px;
}
.balance__item::before{
	content:'';
	display: block;
	width: 30px;
	height: 30px;
	background-color: blue;
	position: absolute;
	left: 4px;
	top: -7px;
}
.deposit-buttons{
	text-align: center;
}
.deposit-panel-buttons_active{
	box-shadow: inset 0px 0px 3px 0px black;
    border-radius: 4px;
}
.withdraw-title{
	margin-top: 20px;
	margin-bottom: 30px;
	color: #ffffff;
	font-size: 1.4rem;
	text-shadow: 0px 0px 4px rgba(62, 42, 73, 0.9);
}
.overflow-container-deposit::before ,.overflow-container-deposit::after{
	content: '';
	display: block;
	width: 10px;
	height: 80%;
	border-left: 1px solid rgba(0,0,0,0.61);
	border-right: 1px solid rgba(0,0,0,0.61);
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.6);
	position: absolute;
	background: transparent;
	z-index: 10;
}
.overflow-container-deposit::before{
	left: -2.2%;
	top: 18px;
}
.overflow-container-deposit::after{
	right: -2.5%;
	top: 18px;
}
input.address__input {
    border: 0;
    border-radius: 16px;
    height: 38px;
    width: 68%;
    padding-left: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px inset;
}
.withdraw-currency{
	opacity: .3;
}
span.balance__value {
    font-size: 1.6rem;
    margin-left: 10px;
}
span.withdraw-value {
	transition: .3s;
    font-size: 1.6rem;
    text-shadow: 0px 0px 6px #888;
}

.api_wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.api_section__head {
    width: 96%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #445d90;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.api_section {
    font-family: Stolzl;
    width: 100%;
    box-sizing: border-box;
    border-radius: 19px;
    overflow: hidden;
}

span.head__title {
    position: relative;
    font-size: 26px;
    display: block;
    padding-top: 13px;
    padding-left: 100px;
    margin-bottom: 30px;
}
span.head__title::before{
    content: '';
    position: absolute;
    display: block;
    width: 78px;
    height: 78px;
    left: 0px;
    background-image: url("../icons/binance.jpg");
}

.head__total_balance {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    flex-direction: column;
}


.mid_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.mid_section__active, .mid_section__status{
    display: flex;
    flex-direction: column;
}
.mid_section__input_block{
    display: flex;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid rgba(146, 152, 217, 0.8);
    width: 60%;
    height: 80px;
}
.bottom__section{
    display: flex;
    justify-content: center;

}
.api.deposit-item {
    background: linear-gradient(to top, rgb(26, 39, 72) 8%,rgba(255, 255, 255, 0.77) 19%,rgba(255, 255, 255, 0.79) 12%,rgba(208, 123, 231, 0.85) 100%);
}
.api_update{
	border-radius: 0;
	width: 101%;
	text-shadow: 0px 0px 3px #fff;
	color: #ffffff;
	font-weight: 900;
	height: 70px;
	background-color: transparent;
}
.input_block__left_side {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input_block__right_side {
    width: 20%;
    display: flex;
    height: inherit;
}
span.input_block__title {

    margin-top: 20px;
}

input.input_block__input {
    background-color: transparent;
    border: 0;
    text-align: center;
}
.api-title{
	color: #5b63b4
}

button.reset {
	border-radius: 0;
	width: 100%;
	padding: 0;
	text-align: center;
	border-left: 2px solid rgba(146, 152, 217, .3);
	margin-top: 9px;
	height: 78%;
	font-weight: 900;
	color: #5e28ac;
	background-color: transparent;
}
.money_wraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dollar_int, .btc_int {
    font-size: 20px;
}


span.btc_symbol {
    text-transform: uppercase;
}

span.total_balance__title {
    font-size: 15px;
    text-align: right;
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .api_wrapper{
        max-width: 90%;
    }
    .api_section {
        background-color: transparent;
    }
    .api_section__head{
        flex-direction: column;
        width: 92%;
    }
    span.head__title{
        align-self: center;
        padding-left: 60px;
    }
    .head__total_balance{
        flex-direction: row;
        justify-content: space-between;
    }
    .mid_section{
        flex-direction: column;
    }
    .mid_section__active, .mid_section__status{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .mid_section__input_block{width: 100%;margin: 20px 0;height: 45px;}

    .api_update{background-color: transparent;font-size: 17px;}

    span.input_block__title{margin: 5px;}
    button.reset{
        margin-top: 6px;
    }
    span.head__title::before{
        content: '';
        position: absolute;
        border-radius: 50%;
        display: block;
        width: 38px;
        height: 38px;
        top: 3px;
        left: 12px;
        background-image: url('../../../common/images/icons/binance.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

@media(max-width: 800px){
	.withdraw__address .withdraw-title{
		position: relative;
		top: 15px;
	}
	li .button{
		padding: 5px;
	}
	.deposit-item{
		max-width: 450px;
	}

}
@media (max-width: 400px){
	.overflow-container-deposit::before{
		left: -3.8%;
	}
	.overflow-container-deposit::after{
		right: -3.8%;
	}
	.deposit-item{
		transform: scale(.79);
	}

}

	/*RANGE*/
input[type=range].withdraw__range {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.15px 0;
}
input[type=range].withdraw__range:focus {
  outline: none;
}
input[type=range].withdraw__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.7px;
  cursor: pointer;
  box-shadow: 0.2px 0.2px 2.3px #000000, 0px 0px 0.2px #0d0d0d;
  background: #ffffff;
  border-radius: 7px;
  border: 0.3px solid #000101;
}
input[type=range].withdraw__range::-webkit-slider-thumb {
  box-shadow: 2.2px 2.2px 7px #000000, 0px 0px 2.2px #0d0d0d;
  border: 1px solid #000000;
  height: 22px;
  width: 22px;
  border-radius: 14px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range].withdraw__range:focus::-webkit-slider-runnable-track {
  background: #2771a9;
  transition: .4s;
}
input[type=range].withdraw__range::-moz-range-track {
  width: 100%;
  height: 9.7px;
  cursor: pointer;
  box-shadow: 0.2px 0.2px 2.3px #000000, 0px 0px 0.2px #0d0d0d;
  background: #2771a9;
  border-radius: 7px;
  border: 0.3px solid #000101;
}
input[type=range].withdraw__range::-moz-range-thumb {
  box-shadow: 2.2px 2.2px 7px #000000, 0px 0px 2.2px #0d0d0d;
  border: 1px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 14px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].withdraw__range::-ms-track {
  width: 100%;
  height: 9.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].withdraw__range::-ms-fill-lower {
  background: #2771a9;
  border: 0.3px solid #000101;
  border-radius: 14px;
  box-shadow: 0.2px 0.2px 2.3px #000000, 0px 0px 0.2px #0d0d0d;
}
input[type=range].withdraw__range::-ms-fill-upper {
  background: #2771a9;
  border: 0.3px solid #000101;
  border-radius: 14px;
  box-shadow: 0.2px 0.2px 2.3px #000000, 0px 0px 0.2px #0d0d0d;
}
input[type=range].withdraw__range::-ms-thumb {
  box-shadow: 2.2px 2.2px 7px #000000, 0px 0px 2.2px #0d0d0d;
  border: 1px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 14px;
  background: #ffffff;
  cursor: pointer;
  height: 9.7px;
}
input[type=range].withdraw__range:focus::-ms-fill-lower {
  background: #2771a9;
}
input[type=range].withdraw__range:focus::-ms-fill-upper {
  background: #2771a9;
}
